body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f5f7fa;
    color: #333;
    flex-direction: column;
  }


h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#034876;
    color:#fffffe;
    height: 15%;
    width: 90%;
    margin: auto;
    font-size: 2em;
    margin-bottom: 30px auto;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.form-container {
    width: 40%;
    margin-left: 10%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* left alignment */
    gap: 20px;
  }
  

question {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    gap: 15px;
}

.form-row {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 5px;
  }

/* for the selection of optional field (second major & minor) */
.form-row select {
  appearance: none; /* remove the default setting of operating system */
  -webkit-appearance: none; /* remove default setting of web browsers like chrome and safari */
  -moz-appearance: none; /* remove default  setting of web browsers like */

  color:#888; /* set default color as grey */
  padding: 0.6rem 2.2rem 0.6rem 0.8rem; /* top, right, bottom, left; rem = fone size */
  font-size: 1rem; /* rem = fone size */

  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  /* dropdown arrow */
  background-image: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'>\
<path d='M1 1l5 5 5-5' stroke='%23888' stroke-width='2' fill='none' stroke-linecap='round'/>\
</svg>");
  background-repeat: no-repeat;
  background-position: right 0.7rem center;
  background-size: 12px 8px;
}

.optional-field label,
.optional-field .optional-symbol {
  color: #888;
}

.form-row select:has(option:checked:not([value=''])){
  color: #000;
}



label {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 5px;
}



.action-button {
  background-color: #034876;
  color: #fffffe;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  font-size: 1.1em;
}
